extends layout

block content
  h1 #{proverb}
  p
    em
      | This proverb has been #{adverb} #{verb} to your #{adjective} #{noun} by 
      a(href="http://commonplacebooks.com/" target="_blank") Welcome to Night Vale
      |  episode number #{episode} &#8211; '#{name}'